p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li,
a,
button {
  all: unset;
  cursor: pointer;
}

/*=====NAVBAR=====*/
/*=====NAVBAR=====*/
#nav {
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 99999;
}
.nav {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
}
.nav .carrer {
  font-size: 35px;
  font-weight: 700;
  color: var(--primary-color);
}
.nav .path {
  font-weight: 700;
  font-size: 35px;
  /* font-family: 'Trebuchet MS', sans-serif; */
  color: var(--secondary-color);
}
.nav .navLeft {
  display: flex;
  gap: 150px;
  align-items: center;
}
.navLeft .SearchBar {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 5px 20px;
}
.navLeft .SearchBar .search-icon {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.16);
}
.navLeft .SearchBar input[type="text"] {
  /* outline: none; */
  border: none;
  outline: none;
  width: 100%;
  padding: 5px 30px 5px 10px;
  font-size: 15px;
}
.nav .NavMenu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.NavMenu .setting,
.NavMenu .mode,
.NavMenu .notification {
  font-size: 25px;
  cursor: pointer;
}
.NavMenu .notification {
  color: var(--primary-color);
}
.nav .NavMenu img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 769px) {
  .nav {
    padding: 10px;
    height: 6vh;
  }
  .nav .carrer {
    font-size: 20px;
  }
  .nav .path {
    font-size: 20px;
  }
  .nav .navLeft {
    gap: 10px;
  }
  .navLeft .SearchBar {
    width: 100px;
    padding: 2px 10px;
  }
  .navLeft .SearchBar .search-icon {
    font-size: 20px;
  }
  .navLeft .SearchBar input[type="text"] {
    padding: 5px;
    font-size: 10px;
  }
  .nav .NavMenu {
    gap: 7px;
  }
  .NavMenu .setting,
  .NavMenu .mode,
  .NavMenu .notification {
    font-size: 15px;
  }
  .nav .NavMenu img {
    width: 25px;
    height: 25px;
  }
}

/*=====LEFT NAVBAR=====*/
/*=====LEFT NAVBAR=====*/
#LeftNavBar {
  width: 200px;
  height: 90vh;
  padding: 20px 30px;
  background-color: var(--primary-bg-color);
  position: fixed;
  left: 0;
  top: 90px;
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  /* justify-content: space-between; */
  gap: 50px;
  /* justify-content: center; */
}

#LeftNavBar .Upper ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#LeftNavBar .Upper ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: 150px;
  /* width: max-content; */
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  color: var(--secondary-text-color);
}
.leftNavbar-icon {
  font-size: 20px;
}
.Lower .StudentSupport h3 {
  margin-bottom: 10px;
}
.Lower .StudentSupport p {
  font-size: var(--phone-paragraph-font);
  margin-bottom: 15px;
}
.StudentSupport .support-icon {
  font-size: 30px;
}
.Lower .StudentSupport button {
  border-radius: 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #6271ff42;
  color: #6271ff;
  font-weight: 700;
  padding: 5px 10px;
  font-size: var(--teritary-phone--font);
}
@media screen and (max-width: 769px) {
  #LeftNavBar {
    width: 50px;
    padding: 50px 10px;
    height: max-content;
    top: 15vh;
    border-radius: 5px;
  }
  #LeftNavBar .Upper ul li {
    width: max-content;
  }
  .leftNavbar-icon {
    font-size: 15px;
  }
  #LeftNavBar .Upper ul li span {
    display: none;
  }
  .Lower .StudentSupport h3,
  .Lower .StudentSupport p {
    display: none;
  }

  .Lower .StudentSupport button {
    flex-direction: column;
    gap: 5px;

    padding: 5px 10px;
    font-size: 8px;
  }
}

/*=====DASHBOARD PAGE=====*/
/*=====DASHBOARD PAGE=====*/


/*=====CARRER PATH PAGE=====*/
/*=====CARRER PATH PAGE=====*/
#Container {
  margin: 50px 20px 50px 300px;
}
@media screen and (max-width: 769px) {
  #Container {
    
    margin: 30px 15px 30px 90px;
  }
}

.CarrerPath .Heading h2,
.Courses .Heading h2 {
  font-size: var(--secondary-desktop--font);
  margin: 10px 0;
}
.CarrerPath .CardContainer,
.CourseCardContainer,.FreeCourseContainer {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 50px;
}
.CarrerPath .Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
  width: calc(100% / 4);
  transition: all 0.5s ease-in-out;
  background-color: var(--primary-bg-color);
}
.CarrerPath .Card:hover {
  transform: scale(1.05);
}
.CarrerPath .Card .Desc {
  padding: 0 10px;
}
.CarrerPath .Card .Salary {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  gap: 75px;
  color: var(--secondary-text-color);
}
.CarrerPath .Card img {
  width: 100%;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}
.CarrerPath .Card button,
.CourseCardContainer .CourseCard button ,
.FreeCourseCard button{
  padding: 8px 25px;
  margin: 15px 0;
  border-radius: 4px;
  background-color: #0038a3cc;
  color: var(--primary-bg-color);
  transition: all 0.5s;
}
.CarrerPath .Card button:hover, .FreeCourseCard button:hover {
  background-color: var(--primary-color);
}
@media screen and (max-width:769px){
  .CarrerPath .CardContainer
 {
    margin:10px;
    flex-direction: column;
  }
  .CarrerPath .Heading h2,
.Courses .Heading h2 {
  font-size: var(--primary-phone--font);
  margin: 30px 0;
}
  .CarrerPath .Card,
  .CourseCardContainer .CourseCard{
    width:fit-content;
  }
}

/*=====COURSES PAGE=====*/
/*=====COURSES PAGE=====*/
.CourseCardContainer {
  margin: 20px 100px;
}
.CourseCard .freeimg{
  display: flex;
  justify-content: space-between;
}
.CourseCard > img{
  display: inline-block;
  
}
.CourseCardContainer .CourseCard {
  width: calc(100% / 3);
  padding: 0 15px 20px 15px;
  background-color: #fafafa;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.5s ease-in-out;
}
.CourseCard:hover {
  transform: scale(1.05);
}
.CourseCardContainer .CourseCard ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px 10px 10px;
}
.CourseCardContainer .CourseCard h3 {
  font-size: var(--tertiary-desktop--font);
  margin: 10px 0 20px 0;
  display: inline-block;
}
.CourseCardContainer .CourseCard h4 {
  font-size: 20px;
}
.CourseCardContainer .CourseCard ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.CourseCardContainer .CourseCard button {
  display: flex;
  margin: 20px auto;
}
.CourseCardContainer .CourseCard .star-icon {
  color: var(--tertiary-color);
}
.CourseCardContainer .Icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.CourseCardContainer .Icons img {
  width: 20px;
  height: 20px;
}
@media screen and (max-width:769px){
  .CourseCardContainer{
    margin:10px;
    flex-direction: column;
  }

.Courses .Heading h2 {
  font-size: var(--primary-phone--font);
  margin: 30px 0;
}
  
  .CourseCardContainer .CourseCard{
    width:fit-content;
  }
  .CourseCardContainer .CourseCard h3 {
    font-size: var(--secondary-phone--font);
    margin: 10px 0 20px 0;
    display: inline-block;
  }
  .CourseCardContainer .CourseCard h4 {
    font-size: 18px;
  }
}

/*======FREE COURSE======*/
/*======FREE COURSE======*/
.FreeCourseContainer{
  gap:10px;
  row-gap: 40px;
}
.FreeCourseContainer .FreeCourseCard{
  width: calc(100%/3.5);
  border-radius: 7px;
  padding:15px;
  display: flex;
  flex-direction: column;
  border-radius: 7.859px;
background: #FFF;
box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  /* gap:10px; */
  background-color: var(--primary-bg-color);
  transition: all 0.5s ease-in-out;
}
.FreeCourseCard:hover{
  transform: scale(1.05);
}
.FreeCourseCard .FreeCourseCardTop{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.FreeCourseCard img{
  width:18px;
}
.FreeCourseCard .certificate{
  font-size: var(--phone-paragraph-font);

  font-weight: 500;
}
.FreeCourseCard .certificate span{
  display: flex;
  gap: 7px;
  align-items: center;
}


.FreeCourseCard .desc{
  color:var(--secondary-text-color);
  margin-bottom:10px;
}
.FreeCourseCard .FreeCourseCardRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 7px;
  font-size: var(--phone-paragraph-font);

}
.FreeCourseCard .FreeCourseCardRow span{
  display: flex;
  gap:7px;
  align-items: center;
}
.FreeCourseCard button{
width: max-content;
align-self: flex-end;
margin: 0;
}
@media screen and (max-width:769px) {
  .FreeCourseContainer .FreeCourseCard{
    width:100%;
  }
  .FreeCourseCard h3{
    font-size: var(--tertiary-phone--font);
  }
  .FreeCourseCard img{
    width:13px;
  }
  .FreeCourseCard .certificate{
  }
  
}
/*======ROAD MAP======*/
/*======ROAD MAP======*/
